* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 80px;
  text-align: center;
}

.logo {
  color: red;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  text-align: center;
  display: block;
  width: 100%;
  height: 10%;
  z-index: 1;
  padding-top: 10px;
}

.nav-menu {
  display: inline-block;
  position: relative;
}
.nav-links {
  display: flex;
  position: relative;
  top: 2rem;
  background-color: red;
  z-index: 2;
}

.nav-links li {
  padding: 10px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 0.4rem;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.nav-links :hover {
  color: grey;
  text-decoration: underline;
}
.burger {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: orange;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 500px) {
  nav {
    width: 100%;
    text-align: justify;
  }

  .nav-links {
    position: fixed;
    /* right: 0px; */
    top: 30px;
    height: 30%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.1s ease-in;
    z-index: 1;
  }
  .nav-link li {
    display: block;
    opacity: 0;
    right: 0;
  }
  .burger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }
}

.nav-active {
  transform: translateX(-0%);
}

/* @keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
} */
/* 메뉴 각각 포지션 */

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
